{% extends 'myapp/base.html' %}
{% block style %}
<style>
    .container {
        width: 50%;
        margin: 1em auto;
        animation-name: fa-spin;
        animation-duration: .5s;
        animation-direction: normal;
    }
#backButton{
    width: 40%;
}
</style>
{% endblock %}
{% block content %}

{#<div class="container">#}
    <div class="card container">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
          <a href="{% url 'blog-home' %}" class="btn btn-primary" id="backButton">Back to my blog</a>

    </div>
  </div>
{#</div>#}

{% endblock %}

