{% extends 'myapp/base.html' %}

{% block title %}
Contact Me
{% endblock %}
{% block style %}
<style>
#contactMe {
    margin-top: 2em;
    animation-name: appearComponent;
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: slideInLeft;
    animation-direction: normal;
    animation-duration: 1s;
}
{#input {#}
{#    width: 25em;#}
{#}#}
html {
    font-size: 1rem;
}

@media (max-width: 620px) {
    #contactMe {
    width: 175%;
        margin: 0 20px;
    }
    html {
        font-size: 15px;
    }
}
@media (max-width: 750px) {

    .sub-header {
        font-size: 11px;
    }
    input {
        width: 85%;
        font-size: 14px;
    }

    .sub-header {
        font-size: 14px;
    }
}

    @media (max-width: 600px) {
        input {
            width: 85%;
        }
    }
    fieldset {
        font-size: 26px;
    }
}

#text {
    margin-bottom: 10px;
}
#id_message {
    background: linear-gradient(to bottom, rgba(250,250,240, 1) 70%, rgba(240,240,224, 1) 95%);
    width: 90%;
}

@media (max-width: 600px) {
    #id_message {
        width: 85%;
    }
}


}
</style>
{% endblock %}
{% block content %}

     <section class="contact" id="contactMe">
        <div class="sub-header">
            <h2>Get in Contact</h2>
        </div>
           <form id="contactForm" method="post">
    {% csrf_token %}
    {% for field in form %}
        <fieldset style="margin-bottom: 0.25rem;">{{ field.label }}:</fieldset>
        <p style="margin-bottom: 20px">{{ field }}</p>
        </fieldset>
    {% endfor %}

{#                 <div class="form-group">#}
{#                <label for="FormControlInputEmail">Please enter your email address:</label>#}
{#                <input type="email" class="form-control" id="FormControlInputEmail" placeholder="name@example.com" value="">#}
{#            </div>#}
{##}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="FormControlTextarea">Please describe your enquiry:</label>#}
{#                <textarea class="form-control" id="FormControlTextarea" rows="3"></textarea>#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#                <label for="FormName">Please enter your name:</label>#}
{#                <div class="col-md-6 mb-2">#}
{#                    <input type="text" class="form-control" placeholder="First name" id="formName1">#}
{#                </div>#}
{#                <div class="col-md-6 mb-2">#}
{#                    <input type="text" class="form-control" placeholder="Last name" id="formName2">#}
{#                </div>#}
{##}
{##}
{#            </div>#}
    <div class="form-actions">
{#      <button type="submit">Send</button>#}
                  <button class="btn btn-info btn-lg" type="submit" onclick="openPopUpBox()" style="font-size: medium; " hoverable>Submit</button>
            <button class="btn btn-danger btn-lg" type="reset" style="float: right; font-size: medium;">Clear Form</button>

    </div>
</form>
     <div class="container">
          <button style="margin: 1.5rem 0.6em; border-radius: 8px;"><a href="{% url 'index' %}" class="btn btn-warning">Return Home</a>
</button>></div>
    </section>

{% endblock %}